*{
    margin:0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textos-borde {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }

header{
background-color: grey;
padding: 20px;
text-align:right;
display: flex;
justify-content: space-between;
}
.search{
    width: 150px;
}
Aside{
    background-color: darkgray;
    width: 40%;
    height: 400px;
    color: white;
}
Main{
    background-color: aqua;
    width: 900px;
    height: 400px;
}
.jumbotron{
    display:flex;

}

.catalogo{
    background-color: pink;
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
}
.contenedor-cat {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	
}
.card .textos {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.adicionales{
    background-color: red;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
}    

.texto-borde {
    -webkit-text-stroke: 2px black;
    color: white;
  }

.contenedor-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.card1 {
	border-radius: 10px;
	min-height: 100px;
	font-weight: bold;
	padding: 30px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    width: calc(33.33% - 20px);
  
	
}

.footer{
    background-color: purple;
    width: 315%;
    height: 50px;
    text-align: left;
}
.social a {
    padding: 10px;
  }
